.inter-uniquifier {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color:#FFFFFF;
    padding: 16px;
}

.nav-content{
    width: 85%;
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: relative;
}

.logo-navbar img{
    width: 139px;
    height: 60px;
    cursor: pointer;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 32px;
    
}
.nav-links li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
}

.nav-links li a:hover{
    color: #007BFF;
}

